*{
	margin: 0;
	padding: 0;
	font-size: 16px;

}
@font-face{
    font-family: 'roboto-regular';
    src:url('../fonts/Roboto-regular.ttf');
}
.app{
	position: relative;
	max-width: 1920px;
	margin: 0 auto;
	background: url(../image/photo.jpg);
	background-size: cover;
	background-position: center;
}
a{
	text-decoration: none;
}
.app img{
	max-width: 100%;
	height: auto;
	/*position: relative;*/
}
.app .wrapper{
	/*position: absolute;*/
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	/*max-width: 1140px;*/
}
header.header {
    margin-bottom: 405px;
}
.header .row {
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu ul li {
    list-style: none;
    margin-left: 50px;
}
.menu ul li a{
	text-decoration: none;
	color: #8C979D;
	font-size: 16px;
	font-family: 'Work Sans';
}
.fa-bars{
	display: none;
}
.logo img{
	width: 100%;
}

.active{
	position: relative;

}
.active a{
	color: #FFC178 !important

}
.active::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #FFC178;
    bottom: -5px;
    left: 0px;
}
li.button {
    background: white;
    border-radius: 20px;
    padding: 10px 15px;
}
li.button a{
	color: #FFC178 !important;
	font-family: 'Work Sans';
	
}
.header-content {
    margin-top: 250px;
}
.header-content p {
    font-size: 18px;
    color: #5A6E79;
    margin-bottom: 40px;
    font-family: 'Work Sans'
}
.header-content h4 {
    color: #FFC178;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.header-link {
    display: inline-block;
    padding: 23px 33px 20px;
    border-radius: 31px;
    background: #ffc178;
}
.header-link a{
	color: #ffffff;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Work Sans';
}
/*.main {
    margin-top: 265px;
}*/
.main-title {
    text-align: center;
  /*  margin-bottom: 30px;*/
}
.main-title h4 {
    font-size: 40px;
    margin-bottom: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
.main-title p {
    font-size: 16px;
    margin-bottom: 75px;
    font-family: 'Work Sans', sans-serif;
    color: #5A6E79;
}
.main img{
	width: 100%;
	/*position: relative;*/
}
.col-md-4{
	position: relative;
}
.main h6 {
    position: absolute;
    bottom: 85px;
    left: 55px;
    color: white;
    font-size: 30px;
    right: 55px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}
.main-center {
    margin-top: 120px;
}
.main-center h4 {
    font-size: 40px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}
.main-center p {
    margin-bottom: 45px;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    color: #5A6E79;
}
p.des {
    margin-bottom: 70px;
}
#item1 h4{
	color: #ffba00;
	margin-bottom: 10px;
}
#item2 h4{
	color: #ff5f72;
	margin-bottom: 10px;
}
#item3 h4{
	color: #43cb83;
	margin-bottom: 10px;
}
#item1 p{
	color: #ffba00;
	font-size: 20px;
	/*font-family: 'Montserrat', sans-serif;*/
	margin-bottom: 0;
}
#item2 p{
	color:  #ff5f72;
	font-size: 20px;
	margin-bottom: 0;
}
#item3 p{
	color: #43cb83;
	font-size: 20px;
	margin-bottom: 0;
}
.main-footer {
    margin-top: 140px;
    margin-bottom: 120px;
}
.main-footer h4{
	font-size: 40px;
	margin-bottom: 107px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.item-info {
    padding: 20px 13px;
}
p#title-special {
    font-size: 16px;
    color: #ffc583;
    margin-bottom: 15px;
}
p.item-des {
    margin-bottom: 35px;
    font-size: 12px;
    font-family: roboto-regular;
    color: #5A6E79;
}
p.item-reading {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}
p.item-title{
	font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 15px;
}
.main-item-title .row{
	margin-bottom: 30px;
}
.item-image {
    box-shadow: 0px 0px 15px 0px grey;
}
.item-info {
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 0px grey;
}
.footer {
    background: #252C3A;
}
.footer .container{
	max-width: 1140px;
	position: relative;
	bottom: 0
}
.footer .row {
    padding-top: 85px;
    padding-bottom: 105px;
}
.footer-tite {
    margin-top: -5px;
}
.footer-title {
    margin-bottom: 30px;
}
.footer-title img{
	width: 100%
}
.footer p {
    font-size: 14px;
    color: #969595;
    font-family: roboto-regular;
}
.footer-2 p {
    margin-bottom: 35px;
    font-size: 14px;
    display: inline-block;
    color: #969595;
}
.footer-2 span {
    font-size: 12px;
    color: #606062;
}
.footer-2 h6 {
    margin-bottom: 50px;
    color: white;
    font-family: roboto-regular;
}
.footer-3 h6{
	margin-bottom: 50px;
	color: white;
	font-family: roboto-regular;	
}
.footer-3 ul li {
    list-style: none;
    margin-bottom: 35px;
}
.footer-3 ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #969595;
    font-family: roboto-regular;
}
.footer-4 h6{
	color: white;
	margin-bottom: 50px;
	font-family: roboto-regular;
}
.footer-4 p{
	margin-bottom: 30px
}
.email-footer {
    display: flex;
    border: 0;
    height: 40px;
}
.email-footer input {
    width: 68%;
    padding: 0 10px;
    border: 0;
}
.email-footer a {
    background: #FFC178;
    color: white;
    padding: 15px 8px;
    font-size: 12px;
    text-decoration: none;
    font-family: roboto-regular;
}
input::placeholder {
 
  font-size: 12px;
  font-family: roboto-regular;
}
hr {
    background: #5d4848;
    margin-bottom: 25px;
}
i.fab, .fas {
    padding-right: 15px;
    color: #4A4A4A;
    font-size: 18px;
}
i.fa-facebook-square {
    color: #0089FD;
}
.last {
    background: #1D232E;
    height: 65px;
}
.last-footer {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}
.copyright {
    color: #969595;
    font-size: 13px;
    font-family: roboto-regular;
}

.last-footer ul li {
    list-style: none;
    display: inline-block;
    padding-right: 30px;
}
.last-footer ul li a{
	text-decoration: none;
	color: #969595;
	font-size: 13px;
	font-family: roboto-regular;

}
@media (max-width: 767px) {
	.menu{
		display: none;
	}
	.fa-bars{
		display: block;
    position: absolute;
    top: 14px;
    left: 0px;
    font-size: 30px;
	}
	.header {
		position: relative;
	}
	.app{
		max-width: 100%;
		background: url(../image/photo.jpg);
	background-size: cover;
	height: auto;
	background-position: center;
	}
	.header-content{
		text-align: center;
	}
	.main-footer .col-md-3{
		margin-bottom: 10px;
	}
	.footer{
		text-align: center;
	}
	.footer-title {
    margin-bottom: 30px;
    margin-left: 70px;
}
	.footer-1{
		margin-bottom: 20px;
	}
	.email-footer {
    display: flex;
    border: 0;
    height: 40px;
    margin-left: 33px;
}


}
@media (min-width: 768px) and (max-width: 1024px) {
	.logo {
    display: none;
}
.app{
	max-width: 100%;
		background: url(../image/photo.jpg);
	background-size: cover;
	height: auto;
	background-position: center;
}
	.left{
		display: none;
	}
	.right {
    position: relative;
    top: 100px;
}
	#item3 p {
    color: #43cb83;
    font-size: 15px;
    margin-bottom: 0;
}
}
@media(min-width: 1025) and (max-width: 1919){
	.app{
		max-width: 100%;
		background: url(../image/photo.jpg);
	background-size: cover;
	height: auto;
	background-position: center;
	}
}